<!-- Begin Page Content -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic1.jpg);">
    <div class="bradcumbContent">
        <!-- <p>See what’s new</p> -->
        <h2>Participation  Events</h2>
    </div>
</section>
<br><br><br>
 <!-- Notification for no employees -->
 <div *ngIf="particip.length==0" class="col-lg-12 col-md-12 col-xl-12 ">
    <div class="alert alert-info " role="alert ">
        <h4 class="alert-heading ">No participation found !</h4>
        <p style="font-size:medium ;">participate <a href="/events">Now!!</a></p>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<div class="container-fluid" *ngIf="particip.length!=0">
    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="demoE">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary"> Participation Events List</h4>
            <!-- <button class=" mdi mdi-cloud-print btn btn-success" printSectionId="demo" ngxPrint>Imprimer</button> -->
        </div>
        <div class="container">
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-striped">
                        <tr>
                            <th>Date Participation</th>
                            <th>Evennement</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let item of particip;index as i">
                                <td style="font-size: small;">
                                <span>{{item.date_particip|date:'yyyy'}}</span>/<span>{{item.date_particip|date:'MM'}}</span>/{{item.date_particip|date:'dd'}}</td>
                                <td style="font-size: small;">{{item.evenment.title}}</td>
                                <td>
                                    <a (click)="Deleteparticip(item.id)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete">Annuler<i class="fa fa-times"></i></a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Page Content -->