


<!-- 
<div class="row">
    <div class="col-md-6 col-lg-3" routerLink="allusers">
       <div class="full counter_section margin_bottom_30 yellow_bg">
          <div class="couter_icon">
             <div> 
                <i><mat-icon>persons</mat-icon></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{utilisateurs?.length}}</p>
                <p class="head_couter">Users</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3" routerLink="allannonces">
       <div class="full counter_section margin_bottom_30 blue1_bg">
          <div class="couter_icon">
             <div> 
               <i><mat-icon>shop</mat-icon></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{annonces?.length}}</p>
                <p class="head_couter">Annonces</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3" routerLink="allevents">
       <div class="full counter_section margin_bottom_30 green_bg">
          <div class="couter_icon">
             <div> 
               <i><mat-icon>events</mat-icon></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{evenments?.length}}</p>
                <p class="head_couter">Events</p>
             </div>
          </div>
       </div>
    </div>
    <div class="col-md-6 col-lg-3" routerLink="allronds">
       <div class="full counter_section margin_bottom_30 red_bg">
          <div class="couter_icon" >
             <div> 
                <i><mat-icon> location_on</mat-icon></i>
             </div>
          </div>
          <div class="counter_no">
             <div>
                <p class="total_no">{{randonners?.length}}</p>
                <p class="head_couter">Treks</p>
             </div>
          </div>
       </div>
    </div>
</div> -->

<div>
   les users {{utilisateurs?.length}} 
  <h1>Number of users: {{utilisateurs?.length}}</h1>
  <p>Number of annnces: {{annonces?.length}}</p>
  <p>Number of events: {{evenments?.length}}</p>
  <p>Number of randonner: {{randonners?.length}}</p>
   <!-- <p class="category" *ngFor="let user of utilisateurs; let i = index">Number of users: {{i}}.</p>  -->
</div>