<!-- Begin Page Content -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(assets/img/bg-img/pic1.jpg);">
    <div class="bradcumbContent">
        <!-- <p>See what’s new</p> -->
        <h2>Participation Randonnees list</h2>
    </div>
</section>
<br><br><br><br><br><br><br><br>
 
<!-- Begin Page Content -->
<div class="container-fluid" >
    <!-- DataTales Example -->
    <div class="card shadow mb-4" id="demoR">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary"> Participation Randonnees</h4>
            <!-- <button class=" mdi mdi-cloud-print btn btn-success" printSectionId="demo" ngxPrint>Imprimer</button> --> 
        </div>
        <div class="container">
            <div class="card-table">
                <div class="cart-product">
                    <table class="table table-striped">
                        <tr>
                            <th>Date Participation</th>
                            <th>Randonner</th>
                        </tr>
                        <tbody>
                            <tr *ngFor="let item of partrand;index as i">
                                <td style="font-size: small;" ><span>{{item.date_particip|date:'yyyy'}}</span>/<span>{{item.date_particip|date:'MM'}}</span>/{{item.date_particip|date:'dd'}}</td>
                                <td style="font-size: small;" >{{item.randonner.programme}}</td>
                                <td>
                                    <a (click)="DeletepartRand(item.id)" class="btn btn-danger tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Begin Page Content -->